# dependencies
node_modules/

# coverage
coverage
coverage.xml
.coverage
.nyc_output

.pytest_cache/

# production
build/
dist/
*.egg-info

# Environments
venv/
explorer/

# client build
server/common/web/static/*
server/common/web/templates/
server/common/web/csp-hashes.json

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# cefpython
error.log

# misc
.DS_Store
npm-debug.log
.vscode
*.idea*
__pycache__
*.DS_Store*
data
tags
myconfig.yaml
example-dataset/ba*

# Jekyll
docs/_site/
docs/Gemfile.lock

client/.eslintcache

# E2E Testing
ignoreE2E*
.test_*
test-results/
html-reports/
playwright-report/
blob-report/
playwright/.cache/
