repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0 # Must be kept in sync with black version in requirements.txt
    hooks:
      - id: black
        stages: [commit]
        args: ["--config", "pyproject.toml"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.239
    hooks:
      - id: ruff
        args: ["--config=pyproject.toml", "--fix"]
        stages: [commit]
