.hoverTooltip {
  position: fixed;
  background-color: white;
  z-index: 104;
  // So the tooltip appears on the top-right instead of bottom-right of mouse.
  transform: translateY(-100%);
}

.trashButton {
  position: absolute;
  margin-top: 10px;
  right: 20px;
  z-index: 105;
}

.coverageVizContainer {
  padding-top: 22px;
}

.coverageVizWrapper {
  padding-top: 8px;
}
