# Update the nginx configuration
# 1. Give more buffering for proxy requests.
# This is to overcome the error "upstream sent too big header while reading response header from upstream",
# which can occur during authentication.
# 2. client_max_body_size is increased for the annotations endpoint, which can get very large.
files:
   "/etc/nginx/conf.d/proxy.conf" :
     mode: "000755"
     owner: root
     group: root
     content: |
        proxy_buffers 4 256k;
        proxy_buffer_size 128k;
        proxy_busy_buffers_size 256k;
        client_max_body_size 2048m;

