stack:
  global:
    ingress:
      rules:
        - host: virtualcellmodels.cziscience.com
        - host: explorer.virtualcellmodels.cziscience.com
      annotations:
        # The apex alias entry for the host URL is manually created in TF (outside Argus).
        external-dns.alpha.kubernetes.io/exclude: "true"
    oidcProxy:
      extraArgs:
        - --cookie-refresh=45m
        - --cookie-expire=24h
        - --cookie-domain=.cziscience.com
        - --whitelist-domain=vcp-prod.auth.us-west-2.amazoncognito.com
        - --auth-logging=false
        - --request-logging=false
        - --set-xauthrequest=true
        - --skip-auth-preflight
  services:
    explorer:
      serviceAccount:
        create: true
        automount: true
        annotations:
          "eks.amazonaws.com/role-arn": arn:aws:iam::339713142298:role/virtual-cells-platform-backend-prod
      image:
        tag: sha-e1027c5
      replicaCount: 3
      resources:
        limits:
          cpu: 64
          memory: 50Gi
        requests:
          cpu: 32
          memory: 24Gi
      env:
        # env vars common to all deployment stages
        - name: AWS_REGION
          value: us-west-2
        - name: AWS_DEFAULT_REGION
          value: us-west-2
        - name: REMOTE_DEV_PREFIX
          value: /$(__ARGUS_STACK_NAME)
        - name: DEPLOYMENT_STAGE
          value: $(__ARGUS_DEPLOYMENT_STAGE)
        # env vars specific to this deployment stage
        - name: WEB_DOMAIN
          value: virtualcellmodels.cziscience.com
        - name: API_DOMAIN
          value: explorer.virtualcellmodels.cziscience.com
        - name: DATA_LOCATOR_DOMAIN
          value: explorer.virtualcellmodels.cziscience.com
        - name: CXG_BUCKET_PATH
          value: hosted-cellxgene-prod
        - name: BYOD_WORKFLOWS_BUCKET_PATH
          value: byod-workflows-prod
        - name: SKIP_ATAC_CACHE
          value: "1"
        - name: CHECK_PERMISSIONS_URL
          value: "http://bifrost-permissions.argus-bifrost-prod:8043/check_permissions"
